upstream flask_app {
    %{ for name in web_app_names ~}
    server ${name}:5000;
    %{ endfor ~}
}

server {
    listen 8080;
    server_name local_host;

    location / {
        proxy_pass http://flask_app;  # Pass requests to the upstream group
        proxy_set_header Host $host;  # Preserve the Host header
        proxy_set_header X-Real-IP $remote_addr;  # Forward the real IP
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;  # Add forwarded for header
    }
}
